<body bgcolor="darkgrey">
<p>
   <center> <div style="width:80%; height:500px" align="center">
    <font size="10" color="#FFF">ABOUT THE COUNT WEBSITE</font><br>
    <font size="6" color="aqua"> Ilorin Journal of Economic Policy (IJEP) (e-ISSN: 2449-0512) is an open access Journal
        owned by the Department of Economics, University of Ilorin, Nigeria, that is made up of collection of scholarly
        perspectives on different aspects of contemporary economic policy issues encountered mainly in developing
        countries. The focus of the Journal is to publish quality papers that provide pragmatic policy directions for
        government and policy makers in public and private sectors. The contributions employ qualitative, quantitative
        or mixed research, methodology and present conceptual or theoretical framework which are applicable to the
        real world development. The Journal is published twice a year (June and December).</font>
    <marquee direction="left" behavior="scroll"><em>Django is soooooo coooooool to learn</em></marquee>
    All right reserved.&copy;2020.
</div></center>

<a href="{% url 'home' %}">Go Back Home</a>
</p>
</body>